<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>GymEdge Dashboard</title>
  <style>
    body { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial; margin: 12px; background:#f7f7f8; }
    .row { display:flex; gap:12px; }
    .card { background:white; padding:12px; border-radius:8px; box-shadow:0 2px 6px rgba(0,0,0,0.08); flex:1; }
    canvas { width:100%; height:240px; }
    h2 { margin:6px 0 10px 0; font-size:18px; }
    .pred { font-size:18px; font-weight:600; }
    .topk { margin-top:8px; font-size:14px; }
  </style>
</head>
<body>
  <h1>GymEdge Live Dashboard</h1>

  <div class="row">
    <div class="card" style="flex:2">
      <h2>Acelerómetro</h2>
      <canvas id="accChart"></canvas>
      <div id="last-sample-ac"></div>
    </div>
    <div class="card" style="flex:2">
      <h2>Giroscopio</h2>
      <canvas id="gyroChart"></canvas>
      <div id="last-sample-gyro"></div>
    </div>
    <div class="card" style="flex:1">
      <h2>Predicción</h2>
      <div id="pred" class="pred">Esperando datos...</div>
      <div id="topk" class="topk"></div>
      <h2>Datos</h2>
      <div id="magnitudes"></div>
      <div id="rms"></div>
      <div id="sampling"></div>
      <hr/>
      <hr/>
      <div id="info"></div>
    </div>
        <div class="card" style="flex:1">
        <h2>Repeticiones</h2>
        <div id="rep-count" class="pred">0</div>
        <hr/>

        <h2>Estado IMU</h2>
        <div class="topk">
            <b>FPS:</b> <span id="stat-fps">0</span><br/>
            <b>Latencia:</b> <span id="stat-latency">0</span> ms<br/>
            <b>Pérdida:</b> <span id="stat-loss">0</span> %<br/>
        </div>
        <div id="exercise-gif" 
            style="width:100%; text-align:center; margin-top:10px;">
          <img id="gif-img" src="" style="max-width:100%; border-radius:8px;">
        </div>

    </div>
    
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    const gifMap = {
      "circular": "/static/gifs/circulos.gif",
      "bicep": "/static/gifs/curl.gif",
      "elevacion_lateral": "/static/gifs/elevacion_lateral.gif",
      "nado": "/static/gifs/nado.gif",
      "remo" : "/static/gifs/remo.gif",
      "neutro": "/static/gifs/neutro.gif"
    };
  </script>

  <script>
    const ws = new WebSocket("ws://" + location.host + "/ws");
    const maxPoints = 200;

    function makeChart(ctx, labels, colors) {
      return new Chart(ctx, {
        type: 'line',
        data: { datasets: labels.map((lab, i) => ({
            label: lab,
            data: [],
            borderColor: colors[i],
            fill: false,
            tension: 0.1,
            pointRadius: 0
        })) },
        options: {
          animation: false,
          parsing: false,
          normalized: true,
          scales: {
            x: { type: 'linear', title: {display:true, text:'t (s)'}},
            y: { title: {display:true, text: 'valor'}}
          }
        }
      });
    }

    const accChart = makeChart(document.getElementById('accChart').getContext('2d'),
      ['ax','ay','az','|a|'], ['#1f77b4','#ff7f0e','#2ca02c','#000000']);

    const gyroChart = makeChart(document.getElementById('gyroChart').getContext('2d'),
      ['gx','gy','gz','|g|'], ['#1f77b4','#ff7f0e','#2ca02c','#000000']);

    function pushPoint(chart, t, values){
      values.forEach((v,i)=>{
        const ds = chart.data.datasets[i];
        ds.data.push({x: t, y: v});
        if (ds.data.length > maxPoints) ds.data.shift();
      });
      chart.update('none');
    }
    let lastT = null;
    let freqList = [];
    let axList = [], ayList = [], azList = [];
    let gxList = [], gyList = [], gzList = [];
    const rmsMax = 200; // ventana RMS
    
    function rms(arr) {
        if (arr.length === 0) return 0;
        let sum = 0;
        arr.forEach(v => sum += v * v);
        return Math.sqrt(sum / arr.length);
    }    
    ws.onopen = () => {
      document.getElementById('info').innerText = "WS conectado a servidor.";
    };
    ws.onclose = () => {
      document.getElementById('info').innerText = "WS desconectado.";
    };

    ws.onmessage = (ev) => {
      try {
        const msg = JSON.parse(ev.data);
        if (msg.type === 'sample') {
            // 1.a) Ultimo sample aceleracion
            document.getElementById("last-sample-ac").innerHTML = `
            ax: ${msg.ax.toFixed(2)}<br>
            ay: ${msg.ay.toFixed(2)}<br>
            az: ${msg.az.toFixed(2)}
            `;
            // 1.b) Ultimo sample giros
            document.getElementById("last-sample-gyro").innerHTML = `
            gx: ${msg.gx.toFixed(2)}<br>
            gy: ${msg.gy.toFixed(2)}<br>
            gz: ${msg.gz.toFixed(2)}
            `;
            // 2) Magnitudes
            document.getElementById("magnitudes").innerHTML = `
            |a|: ${msg.a_mag.toFixed(2)}<br>
            |g|: ${msg.g_mag.toFixed(2)}
            `;

            // 3) RMS
            axList.push(msg.ax); if (axList.length > rmsMax) axList.shift();
            ayList.push(msg.ay); if (ayList.length > rmsMax) ayList.shift();
            azList.push(msg.az); if (azList.length > rmsMax) azList.shift();
            gxList.push(msg.gx); if (gxList.length > rmsMax) gxList.shift();
            gyList.push(msg.gy); if (gyList.length > rmsMax) gyList.shift();
            gzList.push(msg.gz); if (gzList.length > rmsMax) gzList.shift();

            document.getElementById("rms").innerHTML = `
            RMS A: ${rms(axList).toFixed(2)}, ${rms(ayList).toFixed(2)}, ${rms(azList).toFixed(2)}<br>
            RMS G: ${rms(gxList).toFixed(2)}, ${rms(gyList).toFixed(2)}, ${rms(gzList).toFixed(2)}
            `;

            // 4) Frecuencia real
            if (lastT !== null) {
            const dt = msg.t - lastT;
            if (dt > 0) {
                const f = 1 / dt;
                freqList.push(f);
                if (freqList.length > 60) freqList.shift();
                const avgF = freqList.reduce((a,b)=>a+b,0) / freqList.length;
                document.getElementById("sampling").innerText = 
                `Frecuencia muestreo: ${avgF.toFixed(1)} Hz`;
            }
            }
            lastT = msg.t;

          const t = msg.t;
          pushPoint(accChart, t, [msg.ax, msg.ay, msg.az, msg.a_mag]);
          pushPoint(gyroChart, t, [msg.gx, msg.gy, msg.gz, msg.g_mag]);
        } else if (msg.type === 'pred') {
          document.getElementById('pred').innerText = msg.best_label ?
              msg.best_label.toUpperCase() + " (" + (msg.best_prob*100).toFixed(1) + "%)" :
              "N/D";
          let html = "";
          if (msg.topk){
            msg.topk.forEach((p,i)=>{
              html += `${i+1}) ${p[0]} — ${(p[1]*100).toFixed(1)}%<br/>`;
            });
          }
          document.getElementById('topk').innerHTML = html;
          const best = msg.best_label;

          if (best && gifMap[best]) {
              document.getElementById("gif-img").src = gifMap[best];
          } else {
              document.getElementById("gif-img").src = "";
          }
        } else if (msg.type === 'info'){
          document.getElementById('info').innerText = msg.text;
        } else if (msg.type === 'rep_count'){
          document.getElementById('rep-count').innerText = msg.count;
        } else if (msg.type === 'stats'){
          document.getElementById('stat-fps').innerText = msg.fps.toFixed(1);
          document.getElementById('stat-latency').innerText = msg.latency_ms.toFixed(1);
          document.getElementById('stat-loss').innerText = (msg.packet_loss*100).toFixed(1);
        }
      } catch(e){
        console.warn("Bad WS msg", e);
      }
    };
  </script>
</body>
</html>
